@{
    ViewBag.Title = "Home Page";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Data Analysis
            <small>Home Page</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        @*<div class="row">
                <div class="col-md-12">
                    <!-- Custom Tabs -->
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab">All Members</a></li>
                            <li><a href="#tab_2" data-toggle="tab">DC Members</a></li>
                            <li><a href="#tab_3" data-toggle="tab">Non-DC Members</a></li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                            </div><!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_2">
                            </div><!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_3">
                            </div><!-- /.tab-pane -->
                        </div><!-- /.tab-content -->
                    </div><!-- nav-tabs-custom -->
                </div>
            </div>*@

        <div class="box box-default">
            @*<div class="box-header with-border">
                    <h3 class="box-title">Blank Box</h3>
                </div>*@
            <div class="box-body">
                @*@Html.Partial("_TopFilterBarPartial")*@
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-6">
                            <label>Member Type</label>
                            <div class="radio">
                                <div class="form-group">
                                    @Html.RadioButton("Member", -1, true, new { @class = "minimal" })
                                    All Members
                                    &nbsp;&nbsp;

                                    @Html.RadioButton("Member", 1, false, new { @class = "minimal" })
                                    DC Members
                                    &nbsp;&nbsp;

                                    @Html.RadioButton("Member", 0, false, new { @class = "minimal" })
                                    Non-DC Members
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Date Filter</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.TextBox("DateFilter", null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label></label>
                            <div class="input-group">
                                <input type="button" name="btnFilter" value="Filter" class="btn btn-primary" onclick="return LoadAllChart();" />
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div>


        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>@ViewBag.SupplierCount </h3>
                        <p>Overall</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person"></i>
                    </div>
                    <a href="#" class="small-box-footer">Suppliers</a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <div class="inner" style="width:100%">
                        <table style="width:100%">
                            <tr style="text-align:center">
                                <td style="width:33%">
                                    <h3>@ViewBag.OverAll</h3>
                                    <p>Overall</p>
                                </td>
                                <td style="width:33%">
                                    <h3>@ViewBag.DcMembers</h3>
                                    <p>DC</p>
                                </td>
                                <td style="width:33%">
                                    <h3>@ViewBag.NonDcMembers</h3>
                                    <p>Non-DC</p>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <a href="#" class="small-box-footer">Members</a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <table cellpadding="0" cellspacing="0" style="width:100%; text-align:center">
                            <tr>
                                <th>

                                </th>
                                <th style="text-align: right">
                                    Spend
                                </th>
                                <th style="text-align: right">
                                    Rebate
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Overall
                                </th>
                                <td style="text-align: right">
                                    <h5><b>@ViewBag.OverallSpend</b></h5>
                                </td>
                                <td style="text-align: right">
                                    <h5><b>@ViewBag.OverallRebate</b></h5>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    DC
                                </th >
                                <td style="text-align: right">
                                    <h5><b>@ViewBag.DcSpend</b></h5>
                                </td>
                                <td style="text-align: right">
                                    <h5><b>@ViewBag.DcRebate</b></h5>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Non-DC
                                </th>
                                <td style="text-align:right">
                                    <h5><b>@ViewBag.NonDcSpend</b></h5>
                                </td>
                                <td style="text-align: right">
                                    <h5><b>@ViewBag.NonDcRebate</b></h5>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">Revenue</a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <div class="box-body">
                            <div id="NDCPieChart" style="max-width: 380px; height: 150px; margin: 0 auto ;"></div>
                        </div>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">DC and Non DC, % and Amount</a>
                </div>
            </div><!-- ./col -->
        </div><!-- /.row -->
        @Html.Partial("_SupplierChartPartial")
    </section><!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script type="text/javascript">
    jQuery(document).ready(function () {
        //debugger;

        if ('@TempData["Warning"]' != '') {
            toastr["warning"]('@TempData["Warning"]');
        }

        $("#DateFilter").daterangepicker({
            format: 'DD/MMM/YYYY',
            "startDate": moment(moment().subtract(12, 'months').calendar('DD/MMM/YYYY')).format('DD/MMM/YYYY'),
            "endDate": moment().format('DD/MMM/YYYY'),
        });

        var _DateRange = moment(moment().subtract(12, 'months').calendar('DD/MMM/YYYY')).format('DD/MMM/YYYY') + ' - ' + moment().format('DD/MMM/YYYY');
        $("#DateFilter").val(_DateRange);

        debugger;
        //Pie chart for Dc-NonDc Member
        $('#NDCPieChart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                backgroundColor: null
            },
            exporting: { enabled: false },
            title: {
                text: "",
            },
            tooltip: {
                pointFormat: '{series.name}:  <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}<br/>{point.percentage:.1f}%',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || '#ffffff'
                        }
                    },
                }
            },
            series: [{
                name: 'Rebate',
                colorByPoint: true,
                data: [{
                    name: 'DC (<b>£' + '@ViewBag.DcRebatePie'.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + '<b/>)',
                    y: parseInt('@ViewBag.DcRebatePie'),
                    color: Highcharts.getOptions().colors[1]
                },
                {
                    name: 'Non-DC<br/>(<b>£' + '@ViewBag.NonDcRebatePie'.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + '<b/>)',
                    y: parseInt('@ViewBag.NonDcRebatePie'),
                    color: Highcharts.getOptions().colors[5]
                }]
            }]
        });

        LoadAllChart();
        //SupplierWiseRetro();
    });

    function LoadAllChart() {
        //debugger;

        $("#ajaxLoader").show();
        SupplierWiseGraph();
        PharmacyGraph();
        MonthlyDataChart();

    }

    var Counter = 0;
    function LoaderHide() {
        if (Counter == 3) {
            $("#ajaxLoader").hide();
            Counter = 0;
        }

    }

    function SupplierWiseGraph() {
        var _SupplierNames;
        var _Spends;
        var _Rebates;
        $.ajax({
            type: 'get',
            dataType: 'json',
            cache: false,
            url: '@Url.Action("GetSupplierName", "Home")',
            data: { DateRang: $("#DateFilter").val(), pMemberType: $("input[name=Member]:checked").val() },
            beforeSend: function () {

            },
            success: function (response) {

                _SupplierNames = response.Supplier;
                _Spends = response.Spend;
                _Rebates = response.Rebate;
                _RebatePer = response.RebatePer;
                var _MemberType;
                if ($("input[name=Member]:checked").val() == -1)
                    _MemberType = "All Members";
                else if ($("input[name=Member]:checked").val() == 1)
                    _MemberType = "DC Members";
                else if ($("input[name=Member]:checked").val() == 0)
                    _MemberType = "Non DC Members";

                var _Data = [];
                for (var i = 0; i < _RebatePer.length ; i++) {
                    _Data[i] = [_SupplierNames[i] + '<br/>(£' + _Rebates[i].toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + ') ', _RebatePer[i]]

                };
                //num.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
                //Barchart for Supplier
                $('#container').highcharts({
                    chart: {
                        zoomType: 'xy'
                    },
                    title: {
                        text: _MemberType + ' <br/>' + moment($("#DateFilter").val().split("-")[0].trim()).format('MMM/YYYY') + ' - ' + moment($("#DateFilter").val().split("-")[1].trim()).format('MMM/YYYY')
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: [{
                        categories: _SupplierNames,
                        crosshair: true
                    }],
                    yAxis: [{ // Primary yAxis
                        labels: {
                            format: '£{value}',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        title: {
                            text: 'Spend',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        }
                    }, { // Secondary yAxis
                        title: {
                            text: 'Rebate',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        labels: {
                            format: '£{value}',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        opposite: true
                    }],
                    tooltip: {
                        shared: true
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        x: 0,
                        verticalAlign: 'top',
                        y: -10,
                        floating: true,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                    },
                    series: [{
                        name: 'Spend',
                        type: 'column',
                        data: _Spends,
                        tooltip: {
                            valuePrefix: '£'
                        }

                    }, {
                        name: 'Rebate',
                        type: 'spline',
                        yAxis: 1,
                        data: _Rebates,
                        tooltip: {
                            valueDecimals: 0,
                            valuePrefix: '£'
                        }
                    }]
                });

                //Pie chart for Supplier
                $('#supppaichart').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: _MemberType + ' <br/>' + moment($("#DateFilter").val().split("-")[0].trim()).format('MMM/YYYY') + ' - ' + moment($("#DateFilter").val().split("-")[1].trim()).format('MMM/YYYY')
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Rebate',
                        colorByPoint: true,
                        data: _Data
                    }]
                });
                Counter++;
                LoaderHide();
            },
            error: function (ex, st, text) {
                $("#ajaxLoader").hide();
                toastr["error"](text);
            }
        });

        //SupplierWiseRetro();
    }

    function PharmacyGraph() {
        var _PharmacyNames;
        var _RebatePer;
        $.ajax({
            type: 'get',
            dataType: 'json',
            cache: false,
            url: '@Url.Action("GetPharmacyList", "Home")',
            data: { DateRang: $("#DateFilter").val(), pMemberType: $("input[name=Member]:checked").val() },
            beforeSend: function () {

            },
            success: function (response) {

                _PharmacyNames = response.Pharmacy;
                _Spends = response.Spend;
                _Rebates = response.Rebate;
                _RebatePer = response.RebatePer;
                var _MemberType;
                if ($("input[name=Member]:checked").val() == -1)
                    _MemberType = "All Members";
                else if ($("input[name=Member]:checked").val() == 1)
                    _MemberType = "DC Members";
                else if ($("input[name=Member]:checked").val() == 0)
                    _MemberType = "Non DC Members";
                var _Data = [];
                for (var i = 0; i < _RebatePer.length ; i++) {
                    _Data[i] = [_PharmacyNames[i] + '<br/>(£' + _Rebates[i] + ') ', _RebatePer[i]]

                };
                //Bar chart Fro Pharmacy
                $('#PharmacyBarChart').highcharts({
                    chart: {
                        zoomType: 'xy'
                    },
                    title: {
                        text: _MemberType + ' <br/>' + moment($("#DateFilter").val().split("-")[0].trim()).format('MMM/YYYY') + ' - ' + moment($("#DateFilter").val().split("-")[1].trim()).format('MMM/YYYY')
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: [{
                        categories: _PharmacyNames,
                        crosshair: true
                    }],
                    yAxis: [{ // Primary yAxis
                        labels: {
                            format: '£{value}',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        title: {
                            text: 'Spend',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        }
                    }, { // Secondary yAxis
                        title: {
                            text: 'Rebate',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        labels: {
                            format: '£{value}',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        opposite: true
                    }],
                    tooltip: {
                        shared: true
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        x: 0,
                        verticalAlign: 'top',
                        y: -10,
                        floating: true,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                    },
                    series: [{
                        name: 'Spend',
                        type: 'column',

                        data: _Spends,
                        tooltip: {
                            valuePrefix: '£',


                        }

                    }, {
                        name: 'Rebate',
                        type: 'spline',
                        yAxis: 1,
                        data: _Rebates,
                        tooltip: {
                            valuePrefix: '£',
                            valueDecimals: 0,
                        }
                    }]
                });

                ////Pie chart For Pharmacy
                //$('#PharmacyPieChart').highcharts({
                //    chart: {
                //        plotBackgroundColor: null,
                //        plotBorderWidth: null,
                //        plotShadow: false,
                //        type: 'pie'
                //    },
                //    title: {
                //        text: _MemberType + ' <br/>' + moment($("#DateFilter").val().split("-")[0].trim()).format('MMM/YYYY') + ' - ' + moment($("#DateFilter").val().split("-")[1].trim()).format('MMM/YYYY')
                //    },
                //    tooltip: {
                //        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                //    },
                //    plotOptions: {
                //        pie: {
                //            allowPointSelect: true,
                //            cursor: 'pointer',
                //            dataLabels: {
                //                enabled: true,
                //                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                //                style: {
                //                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                //                }
                //            }
                //        }
                //    },
                //    series: [{
                //        name: 'Rebate',
                //        colorByPoint: true,
                //        data: _Data
                //    }]
                //});
                Counter++;
                LoaderHide();
            },
            error: function (ex, st, text) {
                $("#ajaxLoader").hide();
                toastr["error"](text);
            }
        });
    }

    function MonthlyDataChart() {
        var _Months;
        var _RebatePer;
        $.ajax({
            type: 'get',
            dataType: 'json',
            cache: false,
            url: '@Url.Action("GetMonthlySalesList", "Home")',
            data: { DateRang: $("#DateFilter").val(), pMemberType: $("input[name=Member]:checked").val() },
            beforeSend: function () {

            },
            success: function (response) {

                _Months = response.Months;
                _Spends = response.Spend;
                _Rebates = response.Rebate;
                _RebatePer = response.RebatePer;
                var _MemberType;
                if ($("input[name=Member]:checked").val() == -1)
                    _MemberType = "All Members";
                else if ($("input[name=Member]:checked").val() == 1)
                    _MemberType = "DC Members";
                else if ($("input[name=Member]:checked").val() == 0)
                    _MemberType = "Non DC Members";
                var _Data = [];
                for (var i = 0; i < _RebatePer.length ; i++) {
                    _Data[i] = [_Months[i] + '<br/>(£' + _Rebates[i] + ') ', _RebatePer[i]]

                };
                //Bar chart Fro Pharmacy
                $('#MonthlySales').highcharts({
                    chart: {
                        zoomType: 'xy'
                    },
                    title: {
                        text: '<b> Monthly Sales for all Supplier Spend and Rebate </b><br/> ' + _MemberType + '<br/>' + moment($("#DateFilter").val().split("-")[0].trim()).format('MMM/YYYY') + ' - ' + moment($("#DateFilter").val().split("-")[1].trim()).format('MMM/YYYY')
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: [{
                        categories: _Months,
                        crosshair: true
                    }],
                    yAxis: [{ // Primary yAxis
                        labels: {
                            format: '£{value}',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        title: {
                            text: 'Spend',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        }
                    }, { // Secondary yAxis
                        title: {
                            text: 'Rebate',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        labels: {
                            format: '£{value}',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        opposite: true
                    }],
                    tooltip: {
                        shared: true
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        x: 0,
                        verticalAlign: 'top',
                        y: -10,
                        floating: true,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                    },
                    series: [{
                        name: 'Spend',
                        type: 'column',

                        data: _Spends,
                        tooltip: {
                            valuePrefix: '£'
                        }

                    }, {
                        name: 'Rebate',
                        type: 'spline',
                        yAxis: 1,
                        data: _Rebates,
                        tooltip: {
                            valueDecimals: 0,
                            valuePrefix: '£'
                        }
                    }]
                });

                //Pie chart For Pharmacy
                $('#MonthlyRebate').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: _MemberType + '<br/>' + moment($("#DateFilter").val().split("-")[0].trim()).format('MMM/YYYY') + ' - ' + moment($("#DateFilter").val().split("-")[1].trim()).format('MMM/YYYY')
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Rebate',
                        colorByPoint: true,
                        data: _Data
                    }]
                });
                Counter++;
                LoaderHide();
            },
            error: function (ex, st, text) {
                $("#ajaxLoader").hide();
                toastr["error"](text);
            }
        });
    }


</script>
