@model DataAnalyst.Models.SupplierMasterModel

@{
    ViewBag.Title = "Supplier";
}

@*<script src="~/Scripts/jquery-1.12.0.min.js"></script>
    <script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>

    <link href="~/Content/plugins/datatables/dataTables.jqueryui.css" rel="stylesheet" />

    <link href="~/Content/plugins/datatables/extensions/Buttons/css/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="~/Content/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables/extensions/Buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/plugins/datatables/extensions/Buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables/extensions/Buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/plugins/datatables/extensions/Buttons/js/buttons.colVis.min.js"></script>
    <link href="~/Content/plugins/datatables/extensions/ColVis/css/dataTables.colVis.css" rel="stylesheet" />*@

<div class="content-wrapper" style="min-height: 946px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Supplier
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Home/Index"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/Supplier/Index">Supplier</a></li>
            @*<li class="active">Index</li>*@
        </ol>
    </section>

    <section class="content manageGrid">
        <div class="btn-group">
            @*<input type="button" id="btnCreate" value="Create New" class="btn btn-block btn-primary btn-sm btnCreate" onclick="editSession(@pr)" />*@
            @Html.ActionLink("Create New", "Manage", null, new { @class = "btn btn-block btn-primary btn-sm btnCreate" })
        </div>
        <div class="row"> <div class="col-md-12"></div></div>
        <div class="box">
            <div class="box-header">

            </div>
            <div class="box-body">

                <table class="table table-bordered table-striped " id="tblMaster">
                    <thead>
                        <tr>
                            @*<th></th>*@
                            <th></th>
                            <th></th>
                            <th>Supplier Name</th>
                            <th>Address1</th>
                            <th>Address2</th>
                            <th>City</th>
                            <th>Post Code</th>
                            <th>Resp Person</th>
                            <th>Telephone</th>
                            <th>EmailID</th>
                            <th>Fax No</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {

        $("#divRegister").modal('hide');

        if ('@TempData["Success"]' != '')
            toastr["success"]('@TempData["Success"]');
        else if ('@TempData["Warning"]' != '')
            toastr["warning"]('@TempData["Warning"]');

        fillGrid();
    });

    function editSession(_ID) {

        if (_ID != undefined && _ID != '') {
            debugger;
            $.ajax({

                type: 'post',
                dataType: 'json',
                cache: false,
                url: '@Url.Action("EditSession", "Supplier")',
                data: { pId: _ID },
                beforeSend: function () {
                    debugger;
                    $("#ajaxLoader").show();
                },
                success: function (response, textStatus, jqXHR) {
                    debugger;
                    if (response.Allow == "Yes") {
                        window.location.href = '@Url.Action("manage", "Supplier")';
                    }
                    else {
                        toastr["warning"](response._Message)
                    }
                    $("#ajaxLoader").hide();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    debugger;
                    toastr["warning"](errorThrown);
                    $("#ajaxLoader").hide();
                }
            });
        }
        else
            toastr["error"]('No such record found!');
    }

    function Delete(_ID) {

        //debugger;


        if (_ID != undefined && _ID != '') {
            $.ajax({
                type: 'get',
                dataType: 'json',
                cache: false,
                url: '@Url.Action("CheckAllowToDelete", "Supplier")',
                data: { SupplierId: _ID },
                beforeSend: function () {

                },
                success: function (response) {
                    if (response.Result) {
                        bootbox.confirm({
                            size: 'small',
                            message: "Are you sure delete Supplier profile?",
                            buttons: {

                                'cancel': {
                                    label: 'Cancel',
                                    className: 'btn-default'
                                },
                                'confirm': {
                                    label: 'Delete',
                                    className: 'btn-danger'
                                }

                            },
                            callback: function (result) {
                                if (result) {
                                    $.ajax({
                                        type: 'post',
                                        dataType: 'json',
                                        cache: false,
                                        url: '@Url.Action("delete", "Supplier")',
                                        data: { inID: _ID },
                                        beforeSend: function () {
                                            $("#ajaxLoader").show();
                                        },
                                        success: function (response, textStatus, jqXHR) {
                                            $("#ajaxLoader").hide();
                                            if (response._result == true) {
                                                toastr["success"](response._Message);
                                                fillGrid();
                                            }
                                            else {
                                                toastr["warning"](response._Message);
                                            }

                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {

                                            //displayError(errorThrown);
                                            toastr["warning"](response._Message);
                                            $("#ajaxLoader").hide();
                                        }
                                    });
                                }
                            }
                        });
                    }
                    else {
                        toastr["warning"]('You can not delete supplier profile!');
                    }

                },
                error: function (ex, st, th) {
                    toastr["error"](th);
                }
            })
        }
        else
            toastr["warning"]('No Edit Discount Master.');
    }

    function updateActiveStatus(_ID, _currentStatus) {

        if (_ID != undefined && _ID != '') {
            bootbox.confirm({
                size: 'small',
                message: "Are you sure to change Supplier Status?",
                buttons: {

                    'cancel': {
                        label: 'Cancel',
                        className: 'btn-default'
                    },
                    'confirm': {
                        label: 'Ok',
                        className: 'btn-danger'
                    }

                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: 'post',
                            dataType: 'json',
                            cache: false,
                            url: '@Url.Action("SetSupplierStatus", "Supplier")',
                            data: { pSupplierId: _ID, pIsActive: _currentStatus },
                            beforeSend: function () {
                                //if (_currentStatus == 'True') {

                                //    $("#row" + _ID).removeClass("fa-check").addClass("fa-remove");
                                //    var clickData = $("#row" + _ID).attr("onclick");
                                //    $("#row" + _ID).attr("onclick", clickData.replace("True", "False"));
                                //}
                                //else {
                                //    $("#row" + _ID).removeClass("fa-remove").addClass("fa-check");
                                //    var clickData = $("#row" + _ID).attr("onclick");
                                //    $("#row" + _ID).attr("onclick", clickData.replace("False", "True"));
                                //}

                                $("#ajaxLoader").show();
                            },
                            success: function (response) {
                                debugger;
                                $("#ajaxLoader").hide();
                                if (response.Result) {
                                    //if (_currentStatus == 'True')
                                    //    $("#row" + _ID).removeClass('fa-check').addClass('fa-remove');
                                    //else
                                    //    $("#row" + _ID).removeClass('fa-remove').addClass('fa-check');
                                    fillGrid();
                                }
                                else
                                    toastr["warning"]('There are some server error occure.!');
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                toastr["error"](errorThrown);
                                $("#ajaxLoader").hide();
                            }
                        });
                    }
                }
            })
        }
        else
            toastr["warning"]('No Update Status of Supplier.');
    }

    function fillGrid() {

        //
        jQuery('#tblMaster').dataTable().fnDestroy();
        var oTable = jQuery('#tblMaster').dataTable({
            "bServerSide": false,
            "sAjaxSource": '@Url.Action("AjaxHandler", "Supplier")',
            "bProcessing": true,
            "responsive": true,
            //"scrollX": true,
            "searching": true,
            "bSortable": true,
            "ordering": true,
            "responsive": true,
            //"lengthChange": true,
            "paging": true,
            //"info": true,
            "autoWidth": true,
            dom: 'Bfrtip',
            lengthMenu: [
                                [10, 25, 50, -1],
                                ['10 rows', '25 rows', '50 rows', 'Show all']
            ],
            buttons: ['pageLength',
                 {
                     extend: 'excelFlash',
                     title: 'Supplier List'
                 },
                        {
                            extend: 'pdfFlash',
                            orientation: 'landscape',
                            pageSize: 'LEGAL',
                            title: 'Supplier List.pdf'
                        },
                        {
                            extend: 'csvFlash',
                            title: 'Supplier List'
                        },
                        'copy',
                        'print'
            ],
            "aaSorting": [[2, 'asc']],
            "aoColumns": [

        //{
        //    "sName": "IsActive",
        //    "sClass": "text-center",
        //    "sWidth": "10px",
        //    "bSearchable": false,
        //    "bSortable": false,
        //    "mRender": function (data, type, oObj) {
        //        if (oObj[0] == 'True')
        //            return "<i id='row" + oObj[1] + "' class='ui-tooltip fa fa-check' style='font-size: 18px; cursor:pointer;' onclick=\"updateActiveStatus(" + oObj[1] + ",'" + oObj[0] + "')\"></i>";
        //        else
        //            return "<i id='row" + oObj[1] + "' class='ui-tooltip fa fa-remove' style='font-size: 18px; cursor:pointer;' onclick=\"updateActiveStatus(" + oObj[1] + ",'" + oObj[0] + "')\"></i>";
        //    }
        //},
    {
        "sName": "ID",
        "sClass": "text-center",
        "sWidth": "10px",
        "bSearchable": false,
        "bSortable": false,
        "mRender": function (data, type, oObj) {

            return "<i class='ui-tooltip fa fa-pencil' style='font-size: 18px; cursor:pointer;' onclick=\"editSession('" + oObj[1] + "')\"></i>";
        }
    },
    {
        "sName": "ID",
        "sClass": "text-center",
        "sWidth": "10px",
        "bSearchable": false,
        "bSortable": false,
        "mRender": function (data, type, oObj) {
            return "<i class='ui-tooltip fa fa-trash-o' style='font-size: 18px; cursor:pointer;' data-original-title='Delete' onclick=\"Delete('" + oObj[1] + "')\"></i>";
        }
    },

            { "sName": "SupplierName" },
        { "sName": "Address1" },
        { "sName": "Address2" },
        { "sName": "City" },
        { "sName": "PostCode" },

        { "sName": "RespPerson" },
        { "sName": "Telephone" },
        { "sName": "EmailID" },
        {
            "sName": "FaxNo",
            //"bVisible": false
        }

            ]
        })
        //$('#tblMaster_wrapper .dataTables_filter input').addClass("form-control input-sm").attr("placeholder", "Search");
        //// modify table search input
        //$('#tblMaster_wrapper .dataTables_length select').addClass("m-wrap small");
        // modify table per page dropdown
        //$('#tblMaster_wrapper .dataTables_length select').select2();
    }

</script>
